{	margin: 0;
	padding: 0; }

body {background-color: rgba(0, 0, 0, .09);
div.personal_data {
	border-bottom-style: solid;
	border-bottom-width: thin;
	width: 1000px;
	margin-left: 20px;
	padding: 20px 0 20px 0;}


div.cover_letter {
	width: 1000px;
	margin-left: 20px;
	padding: 20px 0 20px 0;}

div.experience {
	border-style: solid;
	border-width: thin;
	width: 1000px;
	margin: 10px 400px;
	padding: 10px;
